<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MovieLibrary.Properties.Settings.CinemaConnectionString"
            connectionString="Data Source=DESKTOP-DS55KH6\SQLEXPRESS;Initial Catalog=Cinema;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>